<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <!--CODES THAT I WROTE START-->
    <title>Welcome to <%= blogTitle %></title>
</head>
<body>
    <h1>Main Home Page</h1>
    <h1>Welcome to <%= blogTitle %></h1>
    <p>Written by <%= authorName %></p>

    <button onclick="location.href='/author-home'">Author Home Page</button>
    <button onclick="location.href='/reader-home'">Reader Home Page</button>
    <!--CODES THAT I WROTE END-->
</body>
</html>
